/* Mobile styles */
.recommendedJobs{
  flex: 1;
  display: flex;
  flex-direction: column;
  .containerOnes{
    flex: 1;
    display: flex;
    flex-direction: column;
    gap: 20px;
    .slide-container{
      align-items: center;
      display: flex;
      justify-content: space-between;
      .slide{
        display: flex;
        justify-content: center;
        flex: 1;
      }
    }
  }
}

/* larger screen */
@media(min-width: 768px){
  .recommendedJobs{
    display: flex;
    flex-direction: column;
    gap: 20px;
    .slide-container{
      display: flex;
      justify-content: space-between;
      align-items: center;
      .slide{
        display: flex;
        justify-content: center;
        flex: 1;
      }
    }
  }
}
